# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
.env/

# Ignore cache and temporary files
__pycache__/
.cache/

# Ignore Python compiled files
*.pyc

# Ignore environment variables file
.env

# Ignore specific files and folders
.git/
requirements.txt

# Ignore other temporary files
*.tmp
*.log

